.strokes-container{
    display: flex;
    justify-content: end;
    margin: 0;
    &_blend{
        position: absolute;
        display: block;
        width: 23rem;
        height: auto;
        translate: 0% -65%;
    }
    &_strap{
        position: absolute;
        display: block;
        width: 47rem;
        height: auto;
        translate: 0% 10%;
    }
    &_flower{
        position: absolute;
        display: block;
        width: 19rem;
        height: auto;
        translate: -50% 10%;
    }
    
}
.services{
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    // background-color: aqua;
    &_heading-1{
        margin-top: 3rem;
        position: relative;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        color: transparent;
        text-align: center;
        right: 2rem;
        font-size: 10rem;
        font-family: 'Yeseva One', cursive;
        letter-spacing: .3rem;
        &::after{
            content: attr(data-text);
            position: absolute;
            left: 0;
            -webkit-text-stroke: 0;
            pointer-events: none;
        }
    
    }
    
}
.more-strap{
    display: flex;
    justify-content: end;
    &--link{
        position:absolute;
        translate: -23.4rem -2.3rem;
        font-size:.7rem;
        color: transparent;
        z-index: 9;
        // cursor: pointer;
    }
    &--img{ 
        // display: block;
        position: absolute;
        translate: 0 -20%;
        width: 30rem;
        
    }
}