@import "../../index.scss" ;
.hero{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &_moto1{
        width: 55rem;
        translate: -3% 0;
        height: auto;
        margin: 0 auto;
        padding-top: 6rem;
        display: block;
        
    }
    &_statue{
        position: relative;
        width: 28rem;
        height: auto;
        margin: 0 auto;
        margin-top: 9rem;
        translate: 30% 0;
        @include respond(tab-lg) {
            translate: 15% 0;
            
        }
        &--head{
            position: absolute;
            width: 36rem;
        }
        &--outline{
            position: absolute;
            width: 44rem;
            height: auto;
            right: -8rem;
            z-index: 1;
        }
        &--olive{
            position: absolute;
            width: 12rem;
            height: auto;
            top: 32rem;
            left: 28rem;
        }

    }
    &_hand{
        // display: flex;
        // justify-content: baseline;
        
        &--img{
            // position: absolute;
            display: block;
            width: 27rem;
            height: auto;
            margin: 0 auto;
            padding-top: 4rem;
            translate: -330% 30%;
            @include respond(mobile-lg) {
                translate: -2000% 200%;
            
            }
            
        }
    }

    &_moto2{
        
        margin-top: 18rem;
        margin-bottom: 2rem;
        text-align: center;
        font-family: 'Yeseva One', cursive;
        font-size: 6rem;
        letter-spacing: .3rem;
    }
    &_par{
        
        text-align: center;
        font-family: 'Avenir';
        font-size: 1.3rem;
        margin: 0 23vw;
        font-weight:400;
    }
    &_more{
        text-align: center;
        font-family: 'Avenir';
        font-size: .9rem;
        font-weight:200;
        
    }
    
}

