.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &_moto1{
        width: 55rem;
        translate: -3% 0;
        height: auto;
        margin: 0 auto;
        padding-top: 6rem;
        display: block;
        
    }
    &_statue{
        position: relative;
        width: 28rem;
        height: auto;
        margin: 0 auto;
        margin-top: 7rem;
        translate: 30% 0;
        &--head{
            position: absolute;
            width: 33rem;
        }
        &--outline{
            position: absolute;
            width: 40rem;
            height: auto;
            right: -8rem;
            z-index: 1;
        }
        &--olive{
            position: absolute;
            width: 10rem;
            height: auto;
            top: 32rem;
            left: 28rem;
        }

    }
    &_hand{
        // position: relative;
        display: block;
        width: 27rem;
        height: auto;
        margin: 0 auto;
        padding-top: 4rem;
        translate: -400% 100%;
    }

    &_moto2{
        
        margin-top: 18rem;
        margin-bottom: 2rem;
        text-align: center;
        font-family: 'Yeseva One', cursive;
        font-size: 6rem;
        letter-spacing: .3rem;
    }
    &_par{
        
        text-align: center;
        font-family: 'Avenir';
        font-size: 1.3rem;
        // letter-spacing: .1rem;
        margin: 0 23rem;
        font-weight:400;
    }
    &_more{
        text-align: center;
        margin: 0;
        // display: inline-block;
        font-family: 'Avenir';
        font-size: .9rem;
        font-weight:200;
        // margin-bottom: 10rem ;
    }
    
}

