.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &_navigation{
        text-transform: uppercase;
        font-family: 'Avenir';
        text-decoration: none;
        list-style: none;
        font-size: .9rem;
        // line-height: 2;
        & li:not(:last-child) {
            margin-bottom: .3rem;
          }
            
        }
    &_logo{
        width: 7.5rem;
        height: 7.5rem;
        margin-left: 9rem;
    }
    &_btn{
        display: flex;
        font-size: 1rem;
        font-family: 'Avenir';
        border: 1px solid #ffffff79;
        border-radius: 40px;
        color: #fff;
        background-color: transparent;
        padding: 20px 35px;
    }
}

a{
    text-decoration: none;
}
.btn{
    margin: 2rem;
    
}


