.samples{
    background-color: #13a89e;
    margin-top: 16rem;
    padding-bottom: 5rem;
    height: 100%;
    &_strap{
        position: absolute;
        translate: 0% -9% ;
        width: 45rem;
    }
    &_heading{
        display: inline-block;
        translate: 35% 25% ;
        margin-top: 6rem;
        position: relative;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        color: transparent;
        text-align: center;
        right: 2rem;
        font-size: 8rem;
        font-family: 'Yeseva One', cursive;
        letter-spacing: .3rem;
        z-index: 0;
        &::after{
            content: attr(data-text);
            position: absolute;
            left: 0;
            -webkit-text-stroke: 0;
            pointer-events: none;
            z-index: 0;
        }
    }
    &_logos{
        padding-top: 10rem;
        &--title{
            color: white;
            text-align: center;
            font-size: 1rem;
            font-family: 'Avenir';
            text-transform: uppercase;
            font-weight: 100;
        }
        &_grid{
          justify-items: center;
          align-items: center;
          padding: 0 12rem;
          display: grid;
          width: 100%;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
            &--logo{
                width: 45%;
                height: 45%;
                object-fit:contain;
            }
        }
    }
    &_hair{
      position: absolute;
      translate: 100% -20%;
    }
}
@media (max-width: 768px) {
  .samples_logos_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .samples_logos_grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
