// Define a mixin to apply the cursor: pointer style
@mixin pointer {
  cursor: pointer;
}

// Define a list containing the elements that need the style applied
$list: li, a, button;

// Loop through the list and apply the mixin to each element
@each $element in $list {
  #{$element} {
    @include pointer;
  }
}
.App {
  overflow-x: hidden;
  
  // position:fixed;
  // height: 100%;
  // width: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}