body{
    background-color: #e59622;
    overflow-x: hidden;
    /* height: 00vh; */
}
* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
  }

.white{
    color : white;

}
::selection {
    background-color: rgb(231, 118, 6);
    color: black;
  }