.footer{
    background-color: #130000 ;
    // padding-bottom: 20rem;
    width: 100%;
    display: block;
    height: 50vh;
    &_logo{
        padding-top: 3rem;
        // padding-bottom: 20rem;
        display: block;
        margin: 0 auto;
        width: 9rem;

    }
}